@import "tailwindcss";

@theme{
  --font-display: "Microsoft", "sans-serif";

}
::-webkit-scrollbar{
  background: black;
  width: 10px;
}
::-webkit-scrollbar-thumb{
  background: gray;
}

iframe, video, canvas {
  image-rendering: crisp-edges;
  will-change: transform;
}
